:root {
  --color-primary: #2196f3;
  --color-secondary: #00bcd4;
  --color-danger: #d95350;
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper {
  min-width: 500px;
  width: 500px;
  border: 1px solid #ccc;
  height: 100vh;
  padding: 0 60px;
  overflow: auto;
  position: relative;
}
.title {
  text-align: center;
  margin-bottom: 80px;
}
.input-box {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 0;
  padding-left: 5px;
}
.desc {
  width: 100%;
  padding: 0;
  padding-left: 5px;
  margin-top: 10px;
}
label {
  margin-top: 20px;
  display: block;
}
.options {
  display: flex;
  gap: 10px;
}
.flex-1 {
  flex: 1;
}
.btn-submit {
  margin-top: 80px;
  width: 100%;
  border-radius: 4px;
  padding: 10px 0;
  background-color: #5bb85d;
  color: #fff;
  border: none;
}
.btn {
  border: none;
  padding: 5px 10px;
  color: #fff;
  border-radius: 4px;
}
.error {
  color: red;
}
.btn-group {
  display: flex;
  gap: 10px;
}
.btn-detail {
  background-color: var(--color-secondary);
}
.btn-danger {
  background-color: var(--color-danger);
}
.btn-primary {
  background-color: var(--color-primary);
}
.task-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bulk-action {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid #ccc;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
@media (max-width: 1244px) {
  .title {
    margin-bottom: 40px;
  }
  .wrapper {
    height: 400px;
    overflow-y: auto;
  }
  .btn-submit {
    margin-top: 20px;
  }
}
